<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>onboarding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="onboarding-container">
    <img src="/assets/eco-logo.png" alt="EcoData Tree" class="onboarding-image">
    <h1>Track your impact, lighten your footprint.</h1>
    <ion-button expand="block" shape="round" color="success" routerLink="/auth">
      Get Started
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
