<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-container">
    <div class="footprint">
    <h2>Your Carbon Footprint</h2>
    <span class="value">8.2</span><span class="unit">tCO2e</span><br>
    <ion-icon name="arrow-down-outline" class="arrow-down"></ion-icon><span class="porcentaje">3% lower than last month</span>
  </div>
  <div class="progress-container">
    <h2>Goal Progress:</h2>
    <span class="percentage-text">30%</span>
  <ion-progress-bar value="0.3"></ion-progress-bar>
  <div class="goal">
    <p>Current tCO2e</p>
    <p>Target tCO2e</p>
  </div>
  </div>
  <div class="ecotips-container">
    <h2>Eco Tips</h2>
    <div class="tips-box">
      <ion-card>
        <ion-card-content>
          {{ tips [currentTipIndex]}}
        </ion-card-content>
      </ion-card>
      <ion-button expand="block" class="more-tips-button" (click)="nextTip()">
          Next Tip
        </ion-button>
    </div>
  </div>
  </div>
</ion-content>
